header{
    margin-bottom: 25px;
    .logo{
        img {
            width: 140px;
            cursor:pointer;
        }
    }
.search{
    padding-top: 27px;
}
.navigation {
    padding-top: 35px;
}
    .tools {
        padding-top: 35px;

        .pi {
            margin-right: 10px;
        }
    }
}